.inputFilter{
  padding-left: 10px;
  border: none;
  height: 30px;
  width: 260px;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(16, 14, 14, 0.5);
}
.filterContainer{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
