.items{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 7px;
  box-shadow: 0 0 5px rgba(77, 72, 72, 0.5);
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.buttonDelete{
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background-color: aliceblue;
  box-shadow: 0px 0px 3px rgb(121, 144, 144);
}

.contactList{
  text-align: start;
}
.buttonDelete:hover{
  color: #4b77c5;
  cursor: pointer;
  font-size: 16px;
}